body {
    background-color: #D5E1EF;
}

.wrapper{
    background-color: white;
    width: 320px;
    margin: auto;
    height: auto;
    border-radius: 20px;
    margin-top: 152px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    padding: 16px;
}

.my-img{
    border-radius: 10px;
    max-width: 100%;
}

h1{
    font-size: 22px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    position: relative;
    top: -11px;
    word-spacing: -3px;
    letter-spacing: -0.3px;
    margin: 0px;
    padding: 24px 16px 16px 16px;
}

.first-p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    position: relative;
    margin: 0px;
    padding: 0px 32px 40px 32px
}

@media (max-width: 500px) {
    .first-div{
        margin-top: 101px;
        left: 28px;
        top: 85px;
    }
    
}
